<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>University</title>
</head>
<body>
    <h1>Add University</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p> {{ form.full_title.label() }} {{ form.full_title() }}
        <p> {{ form.short_title.label() }} {{ form.short_title() }}
        <p> {{ form.foundation_date.label() }} {{ form.foundation_date() }}
        <p> {{ form.submit() }}
        {% for msg in get_flashed_messages() %}
        <div class="flash">{{msg}}</div>
        {% endfor %}
    </form>
</body>
</html>