<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p> {{ form.login.label() }} {{ form.login() }}
        <p> {{ form.name.label() }} {{ form.name() }}
        <p> {{ form.password.label() }} {{ form.password() }}
        <p> {{ form.repeat_password.label() }} {{ form.repeat_password() }}
        <p> {{ form.submit() }}
        {% for msg in get_flashed_messages() %}
        <div class="flash">{{msg}}</div>
        {% endfor %}
    </form>
</body>
</html>